@{
    ViewData["Title"] = "Home";
}



<!--Carrusel-->
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./Imagenes/Juegos//GTAV.jpg" class="d-block w-100" alt="GTAV">
            <div class="carousel-caption d-none d-md-block">
                <h5>Grand Theft Auto V</h5>
                <p class="gtav">Desata toda tu locura en la gran ciudad de Los Santos en esta ultima entrega de manos de RockStar Games.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./Imagenes/Juegos/Call_Of_Duty.jpg" class="d-block w-100" alt="Call_Of_Duty">
            <div class="carousel-caption d-none d-md-block">
                <h5>Call of Duty Moder Warfare 2</h5>
                <p class="callofduty">Llego la hora de que tomes tu equipo y acompañes al capitan Price y a su equipo en tierras Mexinacas</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./Imagenes/Juegos/Pubg.jpg" class="d-block w-100" alt="Pubg">
            <div class="carousel-caption d-none d-md-block">
                <h5>PUBG</h5>
                <p>Nada como los viejos clasicos, uno de los reyes del formato de los juegos de Battle Royal pero ahora con menos Kackers.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--Fin Carrusel-->

<!--Inicio Tarjetas-->
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="./Imagenes/Plataformas/PS5.jpg" class="img-fluid rounded-start" alt="PlayStation 5">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">PlayStation 5</h5>
                <p class="card-text">Una joya de la corona la PlayStation 5 de Sony esta aqui y estos son sus juegos.</p>
                <a href="#" class="btn btn-primary">PlayStation 5</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="./Imagenes/Plataformas/xbox.jpg" class="img-fluid rounded-start" alt="Xbox Series X">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Xbox Series</h5>
                <p class="card-text">De la mano de Microsft te presentamos los componentes y VideoJuegos de la Xbox series X.</p>
                <a href="#" class="btn btn-primary">XBOX</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="./Imagenes/Plataformas/PC_Gamer.jpg" class="img-fluid rounded-start" alt="PC Gamers">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">PC Gamers</h5>
                <p class="card-text">Mira y conoces nuestro catalogo referente al mundo del PC-Gamer.</p>
                <a href="#" class="btn btn-primary">PC-Gamers</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="./Imagenes/Plataformas/Switch.jpg" class="img-fluid rounded-start" alt="Switch">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Nintendo Swicth</h5>
                <p class="card-text">Un clasico en el hogar, las confiables Nintendo Switch y sus juegos estan aqui.</p>
                <a href="#" class="btn btn-primary">Switch</a>
            </div>
        </div>
    </div>
</div>
<!--Fin Tarjetas-->

